* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.block-1 {
  display: block;
}
.block-1-background {
  background-color: #541554;
  width: 100vw;
  height: 100vh;
}
.block-1-intro {
  margin: 30px;
  display: inline-block;
  max-width: 700px;
}
.block-1-intro h1 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  line-height: 1.0625;
  letter-spacing: -1.5px;
  font-size: calc(2.75rem + 20 * (100vw - 400px) / 624);
}
.block-1-intro p {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: calc(1rem + 2 * (100vw - 400px) / 624);
  font-weight: 400;
  line-height: 1.444;
  letter-spacing: -0.2px;
}
.block-1-intro span {
  color: #ecb22e;
}
.block-1-intro__text {
  color: white;
  text-align: center;
  margin: 8px;
}
.block-1-intro-email {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 56px;
}
.block-1-intro-email__text {
  color: #541554;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.block-1-intro-google {
  margin-top: 10px;
  height: 56px;
  width: 100%;
  background-color: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-1-intro-google__text {
  color: white;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.block-1-intro-google__icon {
  background-color: white;
  height: 80%;
  width: 44.8px;
  justify-self: auto;
}
.block-1-img {
  margin-top: 25px;
  display: inline-block;
}
.block-1-img__img {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.block-2 {
  display: block;
  background-color: #f4ede4;
  height: 320vh;
  padding-top: 50px;
}
.block-2-intro_text {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  display: block;
}
.block-2-logos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.block-2-logos_container img {
  margin: 10px;
}
.block-2-sections {
  margin-top: 50px;
  width: 100%;
}
.block-2-sections-img {
  display: inline-flex;
  width: 500px;
  justify-content: start;
}
.block-2-sections-img--right {
  display: inline-flex;
  width: 500px;
  justify-content: end;
}
.block-2-sections-img__img {
  margin-bottom: 25px;
  display: inline-block;
}
.block-2-sections__text {
  margin: 25px 20px 50px 20px;
  display: inline-block;
  max-width: 500px;
}
.block-2-sections__text--title {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.block-2-sections__text--par {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.block-2-sections__text--link {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #1264b2;
  font-size: 16px;
  font-weight: bold;
}
.block-2-sections__text--link :hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */