.unstyle {
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.display-td {
  display: none;
}
@media screen and (min-width: 943px) {
  .display-td {
    display: inline;
  }
}

.nav {
  width: 100%;
  height: 80px;
  background-color: #541554;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  margin: 0px 30px;
}
.nav-hambur {
  width: 40px;
  height: 40px;
  margin: 0px 30px;
  display: flex;
  align-items: center;
}
.nav-hambur__img {
  width: 100%;
  height: 70%;
}

.block-1 {
  background-color: #541554;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 943px) {
  .block-1 {
    display: inline-block;
  }
}
.block-1-intro {
  margin: 20px;
  display: inline-block;
  max-width: 700px;
}
.block-1-intro h1 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  line-height: 1.0625;
  letter-spacing: -1.5px;
  font-size: calc(2.75rem + 20 * (100vw - 400px) / 624);
}
.block-1-intro p {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: calc(1rem + 2 * (100vw - 400px) / 624);
  font-weight: 400;
  line-height: 1.444;
  letter-spacing: -0.2px;
}
.block-1-intro span {
  color: #ecb22e;
}
.block-1-intro__text {
  color: white;
  text-align: center;
  margin: 8px;
}
.block-1-intro-email {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 56px;
}
.block-1-intro-email__text {
  color: #541554;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.block-1-intro-google {
  margin-top: 10px;
  height: 56px;
  width: 100%;
  background-color: #4285f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-1-intro-google__text {
  color: white;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.block-1-intro-google__icon {
  background-color: white;
  height: 80%;
  width: 44.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-left: 5px;
}
.block-1-intro-google__icon--img {
  width: 70%;
  height: 70%;
}
.block-1-img {
  display: flex;
  align-items: end;
}
.block-1-img__img {
  width: 100%;
  max-width: 600px;
}

.block-2 {
  display: block;
  background-color: #f4ede4;
  height: 3050px;
  padding-top: 50px;
}
@media screen and (min-width: 500px) {
  .block-2 {
    height: 2800px;
  }
}
@media screen and (min-width: 943px) {
  .block-2 {
    height: 2000px;
  }
}
.block-2-intro_text {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  display: block;
}
.block-2-logos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.block-2-logos_container img {
  margin: 10px;
}
.block-2-sections {
  margin-top: 50px;
  width: 100%;
}
.block-2-sections--end {
  margin-top: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: end;
  flex-wrap: wrap;
}
.block-2-sections__img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
  display: inline-flex;
  justify-content: start;
  align-items: stretch;
}
.block-2-sections__text {
  margin: 25px 20px 50px 20px;
  display: inline-block;
  max-width: 500px;
}
.block-2-sections__text--title {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.block-2-sections__text--par {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.block-2-sections__text a:hover {
  text-decoration: underline;
}
.block-2-sections__text--link {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #1264b2;
  font-size: 16px;
  font-weight: bold;
}

.block-3 {
  display: block;
  background-color: white;
  height: 1800px;
  padding: 50px;
  justify-content: center;
}
.block-3__par {
  display: block;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  margin-bottom: 30px;
  text-align: center;
}
.block-3__title {
  display: block;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}
.block-3-button-container {
  width: 100%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-3-num-container {
  width: 100%;
  height: 450px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.block-3-num-container h1 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  color: #541554;
  text-align: center;
}
.block-3-num-container p {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  line-height: 1.4286;
  letter-spacing: normal;
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  font-weight: 400;
}
.block-3-num-container__cont {
  width: 190px;
  height: 400px;
}
.block-3-vid__vid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.block-3-vid__text {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.417;
  letter-spacing: -0.3px;
  font-style: italic;
  font-size: calc(1.25rem + 4 * (100vw - 400px) / 624);
  margin: 50px 0px;
}
.block-3-vid__mark-smith {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.block-3-vid__work-desc {
  font-size: 16px;
}
.block-3-vid__link-container {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
  margin: 20px 0px;
}
.block-3-vid__link {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  border-bottom: 2px solid #1264a3;
  color: #1264a3;
}
.block-3-vid__flecha {
  height: 13px;
  width: 20px;
  margin: 0px 5px;
}
.block-3-vid__last-text {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2857;
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  color: #696969;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 56px;
  margin-top: 10px;
}
.button--white {
  background-color: white;
  color: #541554;
  border: #541554 2px solid;
}
.button--purple {
  background-color: #541554;
  color: white;
  border: #541554 2px solid;
}
.button--purple-white {
  background-color: #541554;
  color: white;
  border: white 2px solid;
}
.button__text {
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}

.block-4 {
  background-color: #f4ede4;
  height: 800px;
  width: 100%;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block-4__title {
  text-align: center;
  font-size: calc(1.5rem + 8 * (100vw - 400px) / 624);
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  margin-bottom: 40px;
}
.block-4__target-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.block-4__target {
  background-color: white;
  height: 436px;
  width: 285px;
  padding: 14px;
}
.block-4__target:hover {
  transform: scale(1.1);
}
.block-4__target--title {
  font-size: calc(1.4rem + 1.6 * (100vw - 400px) / 624);
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  margin: 0.5rem 0 6rem;
}
.block-4__target--img {
  width: 100%;
  margin-bottom: 20px;
}
.block-4__target--span {
  margin-top: 12px;
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #454245;
}
.block-4__target__link {
  display: flex;
  align-items: flex-end;
}
.block-4__target__link--link {
  font-size: calc(0.875rem + 0 * (100vw - 400px) / 624);
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  color: #1264a3;
}
.block-4__target__link--arrow {
  height: 13px;
  width: 20px;
}

footer {
  display: block;
}

.first-section {
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
  background: #4a154b;
  height: auto;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.first-section h1 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.158;
  letter-spacing: -0.8px;
  margin-top: 100px;
  color: white;
  text-align: center;
}
.first-section-button-container {
  margin: 50px 0px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section {
  display: block;
  height: 800px;
  padding: 80px 10px;
  max-width: 400px;
  width: 100%;
}
.second-section-father-container {
  margin-top: 50px;
}
.second-section__cont {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  margin: 10px 0px;
}
.second-section__cont2 {
  display: flex;
  justify-content: start;
  padding: 5px 25px;
  margin: 10px 0px;
}
.second-section__text {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 0.875rem;
}
.second-section__text--blue {
  color: #1264a3;
}
.second-section-line {
  width: 100%;
}
.second-section-line__line {
  width: 100%;
}
.second-section-logos {
  margin: 50px 0px;
  display: flex;
  justify-content: space-around;
}
.second-section__bottom-text {
  text-align: left;
  color: #454245;
  font-size: calc(0.75rem + 0 * (100vw - 400px) / 624);
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  margin: 0px 25px;
}
.second-section__flechita-abajo {
  margin-left: 10px;
}
.second-section__mini-logo {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */