
.block-3{
    display:block;
    background-color: $white;

    text-align: center;

    p{
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 400;
        line-height: 1.4444;
        letter-spacing: normal;
    }

    h1{
        margin-top:130px;
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 700;
        line-height: 1.1875;
        letter-spacing: -.3px;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}